name: Build Test

on:
  push:
    branches:
      - main

jobs:
  Build-And-Test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Setup .NET Core
      uses: actions/setup-dotnet@v2
      with:
        dotnet-version: '9.0'

    - name: Restore dependencies
      run: dotnet restore

    - name: Build
      run: dotnet build --configuration Release

    - name: Run MSTest
      run: dotnet test --logger:trx --results-directory:TestResults
